server:
  port: 8091
  servlet:
    context-path: /appointment
spring:
  application:
    name: appointment-service 

  datasource:
    url: jdbc:mysql://40.82.154.151:3306/appointmentservice?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
     ddl-auto: update
    properties:
     hibernate:
       database-platform: org.hibernate.dialect.MySQL8Dialect


swagger:
  productionURL: http://40.82.154.151:8091/appointment

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost

logging:
  file:
    name: inventory.log`
  pattern:
    console: '%d %-5level %logger : %msg%n'
    file: '%d %-5level [%thread] %logger : %msg%n'
  level:
    '[org.springframework.web]': INFO
    '[com.ros.inventory]': DEBUG
    '[org.hibernate]': INFO
